@import "Common";

.topicPanel {
  @extend .scrollableContainer;
  background-color: $blue-light;
  border-radius: 10px;
  border: 1px $blue-sky solid;
  padding: 3px;
}

.searchBar {
  @extend .white-rounded;
  margin-left: auto;
}
