@import "Color";

$max-height: 350px;
$scroll-container-height: 250px;

.container-border {
  @apply rounded-xl p-2.5;
}

.white-rounded {
  @extend .container-border;
  background-color: $white;
}

.subContainer {
  background-color: $blue-light;
  @extend .container-border;
  height: $max-height;
}

.scrollableContainer {
  height: $scroll-container-height;
  max-height: $scroll-container-height;
  @apply overflow-y-auto mt-2.5;
}

.sidePanel {
  @extend .white-rounded;
  @apply max-h-[330px];
}

.btn-border {
  @apply rounded-xl;
  border: 2px solid $blue-light;
}

.centerModal {
  background: white;
  border: 2px solid $blue-sky;
  padding: 4px;
  margin: auto auto;
}

.scaleAnimation {
  animation: scaleMe linear 0.3s;
}

@keyframes scaleMe {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
