@import "Color";

$max-height: 350px;
$scroll-container-height: 250px;

.container-border {
  @apply rounded-[10px] p-[10px];
}

.white-rounded {
  @extend .container-border;
  background-color: $white;
}

.subContainer {
  background-color: $blue-light;
  @extend .container-border;
  height: $max-height;
}

.scrollableContainer {
  height: $scroll-container-height;
  max-height: $scroll-container-height;
  @apply overflow-y-auto mt-[10px];
}

.sidePanel {
  @extend .white-rounded;
  @apply max-h-[330px];
}

.btn-border {
  @apply rounded-xl;
  border: 2px solid $blue-light;
}
