@import "Common";

.samplePanel {
  @extend .scrollableContainer;
  background-color: $blue-light;
  scroll-behavior: smooth;
  border: 2px $blue-sky solid;
  @apply rounded-[10px] ml-auto h-[350px] max-h-[350px] ;
}

.topicSelectPanel {
  @extend .scrollableContainer;
  @apply h-[350px] max-h-[350px] py-[10px];
  border: 2px $blue-sky solid;
  border-radius: 10px;
  margin-top: 0;
}

.selected {
  @apply border-[2px] border-solid border-[red];
}

.path {
  stroke-width: 2;
  stroke: black;
  fill: none;

  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 1.5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
