@import "Common";

.playerList {
  @extend .white-rounded;
  max-height: 450px;
  overflow-y: scroll;

  @extend .scrollBar;
}

.drawCanvas {
  border: none !important;
  border-radius: 12px !important;

  svg {
    border: 1px solid black;
    border-radius: 12px;
  }
}
