.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

}

$max-height: 350px;

.mainPanel {
  background-color: #9fbdca;
  border-bottom: 10px solid #9fbdca;
  border-top: 10px solid #9fbdca;
  max-height: $max-height;
  overflow: auto;
  border-radius: 10px;
}

.subPanel {
  background-color: #9fbdca;
  padding: 10px;
  border-radius: 10px;
  height: $max-height;
}

.header {
  margin-bottom: 10px;
}

.backBtn {
  border-radius: 5px;
  border: 2px solid #9fbdca;
}

.selectBox {
  width: 100%;
  max-height: 40px;
  text-align: center;
}

.collectionPanel {
  max-height: $max-height;
  overflow: auto;
  margin-top: 10px;
}

.gameRoom {
  border: 7px solid #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 0 0 8px 8px;
  cursor: pointer;
  background-color: #fff;

  &:hover {
    border-color: rgba(0, 121, 255, .7);
  }
}

.gameCollection {
  @extend .gameRoom;
  padding: 0;
  margin-bottom: 10px;
}

.selected {
  border-color: rgba(0, 121, 255, .7);
}