@import "Common";

$container-max-height: 465px;
$max-height: 350px;

.container {
  @extend .white-rounded;
  max-height: $container-max-height;
}

.selectPanel {
  @extend .white-rounded;
}

.mainPanel {
  background-color: $blue-light;
  border-bottom: 10px solid $blue-light;
  border-top: 10px solid $blue-light;
  max-height: $max-height;
  @apply rounded-[10px] overflow-y-scroll;
}

.header {
  @apply mb-[10px];
}

.backBtn {
  @extend .btn-border;
  @apply mr-[10px];
}

.selectBox {
  @apply text-center w-full max-h-[40px];
}

.collectionPanel {
  @extend .scrollableContainer;
}

.gameRoom {
  border: 5px solid $white;
  background-color: $white;

  &:hover {
    border-color: $blue-sky;
  }
}

.gameCollection {
  @extend .gameRoom;
}

.selected {
  border-color: $blue-sky;
}
