@import "Common";

$container-max-height: 465px;
$max-height: 350px;

.container {
  @extend .white-rounded;
  max-height: $container-max-height;
}

.collectionOption {
  @extend .white-rounded;
}

.mainPanel {
  background-color: $blue-light;
  border-bottom: 10px solid $blue-light;
  border-top: 10px solid $blue-light;
  max-height: $max-height;
  overflow: auto;
  border-radius: 10px;
}

.header {
  margin-bottom: 10px;
}

.backBtn {
  @extend .btn-border;
  margin-right: 10px;
}

.selectBox {
  width: 100%;
  max-height: 40px;
  text-align: center;
}

.collectionPanel {
  @extend .scrollableContainer;
}

.gameRoom {
  @extend .card;
}

.gameCollection {
  @extend .gameRoom;
  padding: 0;
  margin: 0 4px 8px 4px;
  max-height: 118px;
}

.selected {
  border-color: $blue-sky;
}